
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
<h1 class="heading-h1">API Catalogue</h1>
    </div>

<hr class="mdl-cell mdl-cell--12-col">
<div class="mdl-cell mdl-cell--12-col">
<label for="select">
    <span class="heading-h2">Sort By:</span>
    <select id="select">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
    </select>
</label>
</div>
</div>