


<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-tablet">
        <div class="widget-container">
            <div class="widget-img">
                <img src="" alt="">
            </div>
            <div class="widget-header">
                <h1>Branch Details</h1>
            </div>
            <div class="widget-body">
                <ul>
                    <li>Bullet point</li>
                    <li>Bullet point</li>
                    <li>Bullet point</li>
                </ul>
            </div>
            <div class="widget-cta">
                <button>
                    Wiew
                </button>
            </div>
        </div>
    </div>
    <div class="mdl-cell mdl-cell--4-tablet">
        <div class="widget-container">
            <div class="widget-img">
                <img src="" alt="">
            </div>
            <div class="widget-header">
                <h1>Product Details</h1>
            </div>
            <div class="widget-body">
            <p>Promo content (max 1 paragraph)</p>
            </div>
            <div class="widget-cta">
                <button>
                    Wiew
                </button>
            </div>
        </div>
    </div>
    <div class="mdl-cellmdl-cell--4-tablet">

    </div>


</div>